{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<h1>{% trans 'All Contracts' %}</h1>

<div style="width: 90vw; height: 45vh; overflow-y: scroll;">
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>{% trans 'N°' %}</th>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'Member' %}</th>
        <th>{% trans 'Kind of contract' %}</th>
        <th>{% trans 'Payment intervall' %}</th>
        <th>{% trans 'Start date' %}</th>
        <th>{% trans 'End date' %}</th>
        <th>{% trans 'Last booking' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for instance in all_contracts %}

    <tr>
        <th>{{ forloop.counter }}</th>
        <th>{{ instance.id }}</th>
        <th>{{ instance.member.name }}</th>
        <th>{{ instance.kind_of_contract }}</th>
        <th>{{ instance.payment_intervall }}</th>
        <th>{{ instance.start_date }}</th>
        <th>{{ instance.end_date }}</th>
    </tr>

    {% endfor %}
    </tbody>
</table>
</article>
</div>

</div>


{% endblock %}