{% extends 'base.html' %}

{% block content %}
<!--{{ form.media }}-->
{% load crispy_forms_tags %}

{{ form }}
{{ member_contract }}
{% load i18n %}

<div style="width: 90vw; height: 45vh; overflow-y: scroll;">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>{% trans 'N°' %}</th>
            <th>{% trans 'contract id' %}</th>
            <th>{% trans 'number of member' %}</th>
            <th>{% trans 'kind of contract' %}</th>
            <th>{% trans 'payment intervall' %}</th>
            <th>{% trans 'start date' %}</th>
            <th>{% trans 'end date' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for instance in member_contract %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <th><a href="{% url 'contract_edit' pk=instance.0 %}">{{ instance.0 }}</a></th>
            <th>{{ instance.1 }}</th>
            <th>{{ instance.2 }}</th>
            <th>{{ instance.3 }} </th>
            <th>{{ instance.4 }}</th>
            <th>{{ instance.5 }}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{{ member_contract.errors }}


<form action="" method="post">
    {% csrf_token %}

    <input type="submit" name="saving_modified_contract" value="Save">
    <input type="button" href="#myModal" class="trigger-btn" data-toggle="modal" value="Delete">
    <!--    <a href="#myModal" class="trigger-btn" data-toggle="modal">Delete</a>-->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title">{% trans 'Are you sure?' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>{% trans 'Do you really want to delete this contract? This process cannot be undone.' %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    <button type="submit" name="delete_contract" value="Delete" class="btn btn-danger">{% trans 'Delete' %}</button>
                </div>
            </div>
        </div>
    </div>
</form>
{{ form.errors }}

<!--    <h3>Account member sheet</h3>-->
<!--    <div style="width: 90vw; height: 45vh; overflow-y: scroll;">-->
<!--        <table class="table table-striped table-sm">-->
<!--<article>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>N°</th>-->
<!--                <th>ID</th>-->
<!--                <th>date</th>-->
<!--                <th>contra account</th>-->
<!--                <th>amount debit</th>-->
<!--                <th>amount credit</th>-->
<!--                <th>posting text</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            {% for instance in account_sheet reversed%}-->
<!--            <tr>-->
<!--                <th>{{ forloop.counter }}</th>-->
<!--                <th>{{ instance.0 }}</th>-->
<!--                <th>{{ instance.1 }}</th>-->
<!--                <th>{{ instance.2 }} </th>-->
<!--                <th>{{ instance.3 }}</th>-->
<!--                <th>{{ instance.4 }} €</th>-->
<!--                <th>{{ instance.5 }}</th>-->
<!--                &lt;!&ndash;                <th>{{ instance.6 }}</th>&ndash;&gt;-->
<!--            </tr>-->
<!--            {% endfor %}-->
<!--            </tbody>-->
<!--            <tr>-->
<!--                <th></th>-->
<!--                <th></th>-->
<!--                <th></th>-->
<!--                <th>{{ account_sum.0 }} €</th>-->
<!--                <th>{{ account_sum.1 }} €</th>-->
<!--                <th>{{ account_sum.2 }} €</th>-->
<!--                <th></th>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--</article>-->



{% endblock %}

