{% extends 'base.html' %}
{% block content %}

{{ form.media }}
{% load crispy_forms_tags %}
{% load i18n %}

<div class="container-fluid">
    <article>
        <h3>{% trans 'Create Contract' %}</h3>
        <form action="member_create" method="POST">
<!--        <form action="member_create" method="POST" novalidate>-->
            {% csrf_token %}
            <p>
                <span class="badge badge-pill badge-primary">{% trans 'meta' %}</span>
            </p>
            <div class="row">
                <div class="col-md-3">
                    {{ form.name | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.number | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.member_uuid | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.active | as_crispy_field }}
                </div>
            </div>
            <p>
                <span class="badge badge-pill badge-primary">{% trans 'name data' %}</span>
            </p>
            <div class="row">
                <div class="col-md-3">
                    {{ form.form_of_address | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.first_name | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.last_name | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.salutation | as_crispy_field }}
                </div>
            </div>
            <p>
                <span class="badge badge-pill badge-primary">{% trans 'address data' %}</span>
            </p>
            <div class="row">
                <div class="col-md-3">
                    {{ form.street | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.zip | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.city | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.country | as_crispy_field }}
                </div>
            </div>
            <p>
                <span class="badge badge-pill badge-primary">{% trans 'numbers' %}</span>
            </p>
            <div class="row">
                <div class="col-md-3">
                    {{ form.phone_number | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.cell_number | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.email | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.fax_number | as_crispy_field }}
                </div>
            </div>
            <p>
                <span class="badge badge-pill badge-primary">{% trans 'payment' %}</span>
            </p>
            <div class="row">
                <div class="col-md-4">
                    {{ form.payment_method | as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.iban | as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.bic | as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.name_of_bank | as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.account_holder | as_crispy_field }}
                </div>
            </div>
            <p>
                <span class="badge badge-pill badge-primary">{% trans 'contract' %}</span>
            </p>
            <p>
                <span class="badge badge-pill badge-primary">{% trans 'data misc' %}</span>
            </p>
            <div class="row">
                <div class="col-md-3">
                    {{ form.day_of_birth | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.entry_date | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.exit_date | as_crispy_field }}
                </div>
            </div>
            <span class="badge badge-pill badge-primary">{% trans 'memo' %}</span>
            </p>
            <div class="row">
                <div class="col">
                    {{ form.memo | as_crispy_field }}
                </div>
            </div>
<p></p>
            <button type="submit" class="btn btn-success">{% trans 'Save accounting record' %}</button>
        </form>
    </article>
    {{ form.errors }}

{% endblock %}
