{% extends 'base.html' %}
{% load static %}
<script src="{% static 'crm/js/crm.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'crm/css/crm.css' %}">

{% block content %}
{% load i18n %}
<h1>{% trans 'All Members' %}</h1>


<div style="width: 90vw; height: 45vh; overflow-y: scroll;">
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>{% trans 'N°' %}</th>
        <th>{% trans 'Number' %}</th>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Active' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for instance in all_member reversed %}
    {% if forloop.counter < 6 %} <!--show the last five entries-->
    <tr>
        <th>{{ forloop.counter }}</th>
        <th>{{ instance.number }}</th>
        <th><a href="{% url 'member_edit' pk=instance.pk %}">{{instance.id}}</a></th>
        <th>{{ instance.name }}</th>
        <th>{{ instance.active }}</th>
    </tr>

    {% endif %}
    {% endfor %}
    </tbody>
</table>
</article>
</div>
<a href="member_create" class="btn btn-primary">{% trans 'New Member' %}</a>

</div>


{% endblock %}