<tr><th></th><td><input type="text" name="name" value="bengoshi" required id="id_name" placeholder="Name"></td></tr>
<tr><th></th><td><input type="text" name="number" value="2560" required id="id_number" placeholder="Number"></td></tr>
<tr><th></th><td><input type="text" name="member_uuid" value="2559" required id="id_member_uuid" placeholder="uuid"></td></tr>
<tr><th><label for="id_active">Active:</label></th><td><input type="checkbox" name="active" id="id_active" checked></td></tr>
<tr><th></th><td><input type="text" name="first_name" value="Kai" required id="id_first_name" placeholder="First Name"></td></tr>
<tr><th></th><td><input type="text" name="last_name" value="Kobschätzki" required id="id_last_name" placeholder="Last Name"></td></tr>
<tr><th></th><td><input type="text" name="salutation" value="Dear bengoshi:" required id="id_salutation" placeholder="Salutation, e.g. Dear foo"></td></tr>
<tr><th></th><td><select name="form_of_address" required id="id_form_of_address">
  <option value="">Sir or Madam</option>

    <option value="s" selected>Sir</option>

      <option value="m">Madam</option>

      </select></td></tr>
      <tr><th></th><td><input type="text" name="street" value="Raabestraße 8" required id="id_street" placeholder="Street with street number"></td></tr>
      <tr><th></th><td><input type="text" name="zip" value="10405" required id="id_zip" placeholder="ZIP"></td></tr>
      <tr><th></th><td><input type="text" name="city" value="Berlin" required id="id_city" placeholder="City"></td></tr>
      <tr><th></th><td><input type="text" name="country" value="Deutschland" required id="id_country" placeholder="country"></td></tr>
      <tr><th></th><td><div class="input-group date">
          <input type="text" name="day_of_birth" value="04/02/1977" required id="id_day_of_birth" class="form-control" dp_config="{&quot;id&quot;: &quot;dp_1&quot;, &quot;picker_type&quot;: &quot;DATE&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;format&quot;: &quot;MM/DD/YYYY&quot;, &quot;showTodayButton&quot;: true}}" placeholder="day of birth"/>
	      <div class="input-group-addon input-group-append" data-target="#datetimepicker1" data-toggle="datetimepickerv">
	              <div class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></div>
		          </div>
			  </div></td></tr>
			  <tr><th></th><td><input type="tel" name="phone_number" value="+493070224229" required id="id_phone_number" placeholder="phone number - +49..."></td></tr>
			  <tr><th></th><td><input type="tel" name="cell_number" value="+491706363320" required id="id_cell_number" placeholder="cell phone number - +49..."></td></tr>
			  <tr><th></th><td><input type="email" name="email" value="bengoshi@c-base.org" required id="id_email" placeholder="e-mail"></td></tr>
			  <tr><th></th><td><input type="tel" name="fax_number" value="+493070224231" required id="id_fax_number" placeholder="telefax number - +49..."></td></tr>
			  <tr><th></th><td><select name="payment_method" required id="id_payment_method">
			    <option value="">Payment Method</option>

			      <option value="1" selected>direct debit</option>

			        <option value="2">cash</option>

				</select></td></tr>
				<tr><th></th><td><input type="text" name="iban" value="DE87100909001354325600" required id="id_iban" placeholder="IBAN"></td></tr>
				<tr><th></th><td><input type="text" name="bic" value="GENOPICDE01" required id="id_bic" placeholder="BIC - please let it be empty if German account"></td></tr>
				<tr><th></th><td><input type="text" name="name_of_bank" value="PSD" required id="id_name_of_bank" placeholder="name of bank"></td></tr>
				<tr><th></th><td><input type="text" name="account_holder" value="Kai Kobschätzki" required id="id_account_holder" placeholder="account holder"></td></tr>
				<tr><th></th><td><div class="input-group date">
				    <input type="text" name="entry_date" value="08/19/2019" required id="id_entry_date" class="form-control" dp_config="{&quot;id&quot;: &quot;dp_2&quot;, &quot;picker_type&quot;: &quot;DATE&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;format&quot;: &quot;MM/DD/YYYY&quot;, &quot;showTodayButton&quot;: true}}" placeholder="entry date"/>
				        <div class="input-group-addon input-group-append" data-target="#datetimepicker1" data-toggle="datetimepickerv">
					        <div class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></div>
						    </div>
						    </div></td></tr>
						    <tr><th></th><td><div class="input-group date">
						        <input type="text" name="exit_date" value="08/19/2019" required id="id_exit_date" class="form-control" dp_config="{&quot;id&quot;: &quot;dp_3&quot;, &quot;picker_type&quot;: &quot;DATE&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;format&quot;: &quot;MM/DD/YYYY&quot;, &quot;showTodayButton&quot;: true}}" placeholder="exit date"/>
							    <div class="input-group-addon input-group-append" data-target="#datetimepicker1" data-toggle="datetimepickerv">
							            <div class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></div>
								        </div>
									</div></td></tr>
									<tr><th></th><td><textarea name="memo" cols="80" rows="5" id="id_memo" placeholder="memo field">
									</textarea></td></tr>
