{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}


<form action="" method="post">
    {% csrf_token %}
<br>
    <div class="row">
        <div class="col-md-3">
            {{ form.name | as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{ form.number | as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{ form.member_uuid | as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{ form.active | as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form.form_of_address | as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{ form.first_name | as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{ form.last_name | as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{ form.salutation | as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form.street | as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{ form.zip | as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{ form.city | as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{ form.country | as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form.phone_number | as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{ form.cell_number | as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{ form.email | as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{ form.fax_number | as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form.payment_method | as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.time_of_debit | as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.iban | as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.bic | as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.name_of_bank | as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.account_holder | as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{ form.kind_of_contract | as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            day of birth
            {{ form.day_of_birth | as_crispy_field }}
        </div>
        <div class="col-md-3">
            entry date
            {{ form.entry_date | as_crispy_field }}
        </div>
        <div class="col-md-3">
            exit date
            {{ form.exit_date | as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form.memo | as_crispy_field }}
        </div>
    </div>

    <input type="submit" name="saving_modified_member" value="Save">
    <input type="button" href="#myModal" class="trigger-btn" data-toggle="modal" value="Delete">
    <!--    <a href="#myModal" class="trigger-btn" data-toggle="modal">Delete</a>-->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete these records? This process cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="submit" name="delete_member" value="Delete" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!--    <input type="submit" name="delete_accounting_record"           value="Delete">-->
</form>
<!--<button type="submit" class="btn btn-­primary">Delete this accounting_record</button>-->
{{ form.errors }}

<article>
    <h3>Account member sheet</h3>
    <div style="width: 90vw; height: 45vh; overflow-y: scroll;">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>N°</th>
                <th>ID</th>
                <th>date</th>
                <th>contra account</th>
                <th>amount debit</th>
                <th>amount credit</th>
                <th>posting text</th>
            </tr>
            </thead>
            <tbody>
            {% for instance in account_sheet reversed%}
            <tr>
                <th>{{ forloop.counter }}</th>
                <th>{{ instance.0 }}</th>
                <th>{{ instance.1 }}</th>
                <th>{{ instance.2 }} </th>
                <th>{{ instance.3 }}</th>
                <th>{{ instance.4 }} €</th>
                <th>{{ instance.5 }}</th>
                <!--                <th>{{ instance.6 }}</th>-->
            </tr>
            {% endfor %}
            </tbody>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>{{ account_sum.0 }} €</th>
                <th>{{ account_sum.1 }} €</th>
                <th>{{ account_sum.2 }} €</th>
                <th></th>
            </tr>
        </table>
    </div>
</article>











{% endblock %}

