{% extends 'base.html' %}

{% block content %}
{% load i18n %}

<style>
    article01 {
        position: static;
        top: 10px;
        left: 0px;
        width: 300px;
        padding: 70px;
        }
    article02 {
        position: relative;
        top: -50px;
        left: 200px;
        width: 300px;
        padding: 70px;
        }
    article03 {
        position: relative;
        top: -110px;
        left: 400px;
        width: 300px;
        padding: 70px;
        }
    article04 {
        position: relative;
        top: -170px;
        left: 600px;
        width: 300px;
        padding: 70px;
        }
</style>

<h1>Gyousei 行政</h1>


<h2>{% trans 'Landing page' %}</h2>

@media (min-width: 620px) {
.ul-menu { height: 2.2em; }
.ul-menu li { display: inline-block; width: 32%; float: left; position: relative; }
.ul-menu li ul { position: absolute; height: 0px; overflow: hidden; transition: height 2s; }
.ul-menu li:hover ul {
height: 150px;
overflow: visible
}
}


<article01>
    <h4>core</h4>
    Core Data
</article01>

<article02>
    <h4>CRM</h4>
    CRM
</article02>

<article03>
    <h4>ERP</h4>
    ERP
</article03>

<article04>
    <h4>EM</h4>
    EM
</article04>

{% endblock %}


