{% extends 'base.html' %}

{% load static %}

{% block content %}
{{ form.media }}

{% load crispy_forms_tags %}
{% load i18n %}

<div class="container-fluid">
    <article>
        <h3>Create Core</h3>

        <form action="" method="POST" novalidate>
            {% csrf_token %}

            <div id="tabpanel">
            <div id="tabcontent">
                <div id="panel-1" role="tabpanel" aria-labelledby="meta" aria-hidden="false">
            <p>
                <span class="badge badge-pill badge-primary">meta</span>
            </p>
            <div class="row">
                <div class="col-md-3">
                    {{ form.name | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.legal_form | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form.street | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.zip | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.city | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.country | as_crispy_field }}
                </div>
            </div>
            </div>
                <div id="panel-2" role="tabpanel" aria-labelledby="contact_data" aria-hidden="true">
            <p>
                <span class="badge badge-pill badge-primary">contact data</span>
            </p>
            <div class="row">
                <div class="col-md-3">
                    {{ form.phone_number | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.cell_number | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.email | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.fax_number | as_crispy_field }}
                </div>
            </div>
                </div>
                <div id="panel-3" role="tabpanel" aria-labelledby="bank_data" aria-hidden="true">
            <p>
                <span class="badge badge-pill badge-primary">bank data</span>
            </p>
            <div class="row">
                <div class="col-md-3">
                    {{ form.sepa_believer_id | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form.iban_1 | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.bic_1 | as_crispy_field }}
                </div>
                <div class="col-md-3">
                {{ form.name_of_bank_1 | as_crispy_field }}
            </div>
                <div class="col-md-3">
                    {{ form.account_holder_1 | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.bookkeeping_account_1 | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form.iban_2 | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.bic_2 | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.name_of_bank_2 | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.account_holder_2 | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.bookkeeping_account_2 | as_crispy_field }}
                </div>
            </div>
            </div>
                <div id="panel-4" role="tabpanel" aria-labelledby="governemnt" aria-hidden="true">
            <p>
                <span class="badge badge-pill badge-primary">government</span>
            </p>
            <div class="row">
                <div class="col-md-3">
                    {{ form.internal_revenue | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.number_of_internal_revenue | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.tax_number | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.vat_number | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.charitable | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.note_from | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.admission_from | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.dispensation_from_corporate_tax | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.dispensation_from_corporate_tax_valid_for | as_crispy_field }}
                </div>
            </div>
            </div>
                <div id="panel-5" role="tabpanel" aria-labelledby="comercial_register" aria-hidden="true">
            <p>
                <span class="badge badge-pill badge-primary">commercial register</span>
            </p>
            <div class="row">
                <div class="col-md-4">
                    {{ form.companies_register_number | as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.register_court | as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.date_of_foundation | as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.purpose_of_charter | as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.liable_to_tax_on_purchases | as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.period_of_vat | as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.board_of_management | as_crispy_field }}
                </div>
            </div>
            </div>
        </div>
                <div>
            <br>
            <button type="submit" class="btn btn-success" name="saving_company_data">
                {% trans 'Save accounting record' %}
            </button>
            <br>
                </div>
        </div>
        </form>
    </article>
    {{ form.errors }}


</div>
{% endblock %}
