{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/core/landing_page.css' %}">

<h1>Gyousei 行政</h1>
<div class="container">


<div class="row">
    <div class="col-*-*">
    <div class="media border p-3">
    <img src="static/icons/3319637_core.png" alt="Core Data Icon">
    <div class="media-body">
    <h4>Core</h4>
    <p><small>{% trans 'Core Data' %}</small></p>
    <ul class="tree">
        <li><span>
            <a class="nav-link" href="{% url 'company_data' %}" class="align-self-start mr-3" style="width:60px;">
                {% trans 'Core Data' %}
            </a>
        </span>
        <ul>
        <li><span>{% trans 'Documents' %}</span>
        </ul>
        </li>
    </ul>
    </div>
    </div>
    </div>

    <div class="col-*-*">
    <div class="media border p-3">
    <img src="static/icons/3319603_crm.png" alt="CRM Icon" class="align-self-start mr-3" style="width:60px;">
    <div class="media-body">
    <h4>CRM</h4>
    <p><small>{% trans 'Customer-Relationship-Management' %}</small></p>
    <ul class="tree">
        <li><span><a class="nav-link" href="{% url 'member_create' %}">{% trans 'New Member' %}</a></span>
        <ul>
            <li><span><a class="nav-link" href="{% url 'member_overview' %}">{% trans 'Overview Member' %}</a></span>
        </ul>
        </li>
        </ul>
        </li>
    </ul>
    </div>
    </div>
    </div>

    <div class="col-*-*">
    <div class="media border p-3">
    <img src="static/icons/3319598_erp.png" alt="ERP Icon" class="align-self-start mr-3" style="width:60px;">
    <div class="media-body">
    <h4>ERP</h4>
        <p><small>{% trans 'Enterprise-Resource-Planning' %}</small></p>
    <ul class="tree">
        <li><span><a class="nav-link" href="{% url 'journal_booking' %}">{% trans 'Booking' %}</a></span>
        <ul>
            <li><span><a class="nav-link" href="{% url 'account_overview' %}">{% trans 'Account Overview' %}</a></span></li>
        </ul>
        <ul>
            <li><span><a class="nav-link" href="{% url 'trial_balance_sheet' %}">{% trans 'Trial Balance Sheet' %}</a></span></li>
        </ul>
        <ul>
            <li><span><a class="nav-link" href="{% url 'journal_overview' %}">{% trans 'Journal' %}</a></span></li>
        </ul>
        <ul>
            <li><span><a class="nav-link" href="{% url 'debit_position' %}">{% trans 'Debit Position' %}</a></span></li>
        </ul>
        </li>
    </ul>
    </div>
    </div>
    </div>

    <div class="col-*-*">
        <div class="media border p-3">
    <img src="static/icons/3319641_em.png" alt="EM Icon" class="align-self-start mr-3" style="width:60px;">
    <div class="media-body">
    <h4>EM</h4>
        <p><small>Event Management</small></p>
    <ul class="tree">
            <li><span>{% trans 'Create Event' %}</span>
        <ul>
            <li><span>{% trans 'Manage Event' %}</span></li>
        </ul>
        <ul>
            <li><span>{% trans 'Reporting' %}</span></li>
        </ul>
        </li>
    </ul>
    </div>
    </div>
    </div>

    <div class="col-*-*">
        <div class="media border p-3">
            <img src="static/icons/3319616_exchange.png" alt="I/E Icon" class="align-self-start mr-3" style="width:60px;">
            <div class="media-body">
                <h4>I/E</h4>
                <p><small>Import / Export</small></p>
                <ul class="tree">
                    <li><span>{% trans 'Import Member' %}</span>
                        <ul>
                            <li><span>{% trans 'Import Accounting Records' %}</span></li>
                        </ul>
                        <ul>
                            <li><span>{% trans 'Import Event' %}</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>




</div>
</div>
{% endblock %}


