{% extends 'base.html' %}
{% block content %}

{{ form.media }}

{% load crispy_forms_tags %}
{% load i18n %}
    <article>
    <h3>{% trans 'Accounts' %}</h3>
        <div style="width: 90vw; height: 45vh; overflow-y: scroll;">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>{% trans 'N°' %}</th>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'number' %}</th>
            <th>{% trans 'name' %}</th>
            <th>{% trans 'active' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for instance in account %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <th><a href="{% url 'accounting_record_edit' pk=instance.pk %}">{{instance.id}}</a></th>
                <th>{{ instance.number }}</th>
                <th>{{ instance.name }}</th>
                <th>{{ instance.active_flag }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </article>
</div>

<div class="container-fluid">
    <article>
    <h3>{% trans 'Create Account' %}</h3>

    <form method="POST" novalidate>
        {% csrf_token %}
        <p>
            <span class="badge badge-pill badge-primary">{% trans 'meta' %}</span>
        </p>
        <div class="row">
            <div class="col-md-3">
                {{ form.number | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{  form.name | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.active_flag | as_crispy_field }}
            </div>
        </div>
        <p>
            <span class="badge badge-pill badge-primary">{% trans 'special functions' %}</span>
        </p>
        <div class="row">
            <div class="col-md-3">
                {{ form.valid_from | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.summary_account | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.individual_flag | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.main_function | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.extra_function | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.function | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.posting_key | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.tax_rate | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.vat_data_sheet | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.date_last_booking | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.kind_of_account | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.vat_line_tax_on_issue | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.vat_line_tax_on_payment | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.factor2_flag | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.factor2_percentage | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.factor2_account1 | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.factor2_account1 | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.factor2_account2 | as_crispy_field }}
            </div>
        </div>

        <button type="submit" class="btn btn-success">{% trans 'Save account' %}</button>
    </form>
    </article>

{% endblock %}

