{% extends 'base.html' %}
{% block content %}

{{ form.media }}
{% load crispy_forms_tags %}
{% load i18n %}
    <article>
    <h3>{% trans 'Import-Accounts' %}</h3>
    <div style="width: 90vw; height: 45vh; overflow-y: scroll;">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>{% trans 'N°' %}</th>
            <th>ID</th>
            <th>Number</th>
            <th>Name</th>
            <th>Active</th>
            <th>Valid from</th>
            <th>Summary Account</th>
            <th>Individual</th>
            <th>Main function</th>
            <th>Extra function</th>
            <th>Function</th>
            <th>Posting key</th>
            <th>Tax rate</th>
            <th>VAT Data sheet</th>
            <th>Date last booking</th>
            <th>Kind of account</th>
            <th>VAT line tax on issue</th>
            <th>VAT line tax on payment</th>
            <th>factor 2</th>
            <th>factor 2 %</th>
            <th>factor 2 account 1</th>
            <th>factor 2 account 2</th>
        </tr>
        </thead>
        <tbody>
        {% for instance in import_account %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <th><a href="{% url 'accounting_record_edit' pk=instance.pk %}">{{instance.id}}</a></th>
                <th>{{ instance.number }}</th>
                <th>{{ instance.name }}</th>
                <th>{{ instance.active_flag }}</th>
                <th>{{ instance.valid_from }}</th>
                <th>{{ instance.summary_account }}</th>
                <th>{{ instance.individual_flag }}</th>
                <th>{{ instance.main_function }}</th>
                <th>{{ instance.extra_function }}</th>
                <th>{{ instance.function }}</th>
                <th>{{ instance.posting_key }}</th>
                <th>{{ instance.tax_rate }}</th>
                <th>{{ instance.vat_data_sheet }}</th>
                <th>{{ instance.date_last_booking }}</th>
                <th>{{ instance.kind_of_account }}</th>
                <th>{{ instance.vat_line_tax_on_issue }}</th>
                <th>{{ instance.vat_line_tax_on_payment }}</th>
                <th>{{ instance.factor2_flag }}</th>
                <th>{{ instance.factor2_percentage }}</th>
                <th>{{ instance.factor2_account1 }}</th>
                <th>{{ instance.factor2_account2 }}</th>
            </tr>
        {% empty %} <li>Sorry, no account records in it.</li>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </article>
</div>

<div class="container-fluid">
    <article>
    <form method="POST" novalidate>
        {% csrf_token %}
<!--        <button type="submit" name="delete_import_journal" value="Delete" class="btn btn-danger">Delete Import-Journal</button>-->
        <button type="submit" class="btn btn-success" name="final_import_account">Import into Journal</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
        <input type="button" class="btn btn-danger" href="#myModal" class="trigger-btn" data-toggle="modal" value="Delete Import-Journal">
        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="icon-box">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>
                        <h4 class="modal-title">Are you sure?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want to delete these records?</p><p> This process cannot be undone!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                        <button type="submit" name="delete_import_account" value="Delete" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </article>

{% endblock %}

