{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<article>
    <h3>{% trans 'Account Overview' %}</h3>
    <div style="width: 90vw; height: 45vh; overflow-y: scroll;">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>{% trans 'N°' %}</th>
                <th>{% trans 'ID' %}</th>
                <th>{% trans 'Number' %}</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Active' %}</th>
                <th>{% trans 'Valid from' %}</th>
                <th>{% trans 'Summary Account' %}</th>
                <th>{% trans 'Individual' %}</th>
                <th>{% trans 'Main function' %}</th>
                <th>{% trans 'Extra function' %}</th>
                <th>{% trans 'Function' %}</th>
                <th>{% trans 'Posting key' %}</th>
                <th>{% trans 'Tax rate' %}</th>
                <th>{% trans 'VAT Data sheet' %}</th>
                <th>{% trans 'Date last booking' %}</th>
                <th>{% trans 'Kind of account' %}</th>
                <th>{% trans 'VAT line tax on issue' %}</th>
                <th>{% trans 'VAT line tax on payment' %}</th>
                <th>{% trans 'factor 2' %}</th>
                <th>{% trans 'factor 2 %' %}</th>
                <th>{% trans 'factor 2 account 1' %}</th>
                <th>{% trans 'factor 2 account 2' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for instance in account_object %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <th><a href="{% url 'account_edit' pk=instance.pk %}">{{instance.id}}</a></th>
                <th>{{ instance.number }}</th>
                <th>{{ instance.name }}</th>
                <th>{{ instance.active_flag }}</th>
                <th>{{ instance.valid_from }}</th>
                <th>{{ instance.summary_account }}</th>
                <th>{{ instance.individual_flag }}</th>
                <th>{{ instance.main_function }}</th>
                <th>{{ instance.extra_function }}</th>
                <th>{{ instance.function }}</th>
                <th>{{ instance.posting_key }}</th>
                <th>{{ instance.tax_rate }}</th>
                <th>{{ instance.vat_data_sheet }}</th>
                <th>{{ instance.date_last_booking }}</th>
                <th>{{ instance.kind_of_account }}</th>
                <th>{{ instance.vat_line_tax_on_issue }}</th>
                <th>{{ instance.vat_line_tax_on_payment }}</th>
                <th>{{ instance.factor2 }}</th>
                <th>{{ instance.factor2_percentage }}</th>
                <th>{{ instance.factor2_account1 }}</th>
                <th>{{ instance.factor2_account2 }}</th>
            </tr>
            {% empty %} <li>{% trans 'Sorry, no account records in it.' %}</li>
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>

{% endblock %}