{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Importing accounts</h1>
<p>Please note the assumptions for the files in the manual.</p>
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
<!--        <table>-->

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form }}
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>

<!--        </table>-->
        <input type="submit" class="btn btn-success" value="Submit">
    </form>
{% endblock %}