{% extends 'base.html' %}

{% block content %}


{{ form.media }}
{% load crispy_forms_tags %}
{% load i18n %}

<!--<h3>Account record edit</h3>-->
<!--<form action="" method="post">-->
<!--    {% csrf_token %}-->
<!--    <table>-->
<!--        {{ form.as_table }}-->
<!--    </table>-->

<div class="container-fluid">
    <article>
        <h3>{% trans 'Account record edit' %}</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3">
                    <span class="badge badge-primary">{% trans 'amount' %}</span>
                </div>
                <div class="col-md-3">
                    <span class="badge badge-primary">{% trans 'debit' %}</span>
                </div>
                <div class="col-md-3">
                    <span class="badge badge-primary">{% trans 'credit' %}</span>
                </div>
                <div class="col-md-3">
                    <span class="badge badge-primary">{% trans 'date' %}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form.amount | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.debit_account | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.credit_account | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.date_field | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span class="badge badge-primary">{% trans 'posting text' %}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form.posting_text | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span class="badge badge-primary">{% trans 'member number' %}</span>
                </div>
                <div class="col-md-3">
                    <span class="badge badge-primary">{% trans 'event number' %}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form.member_number | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.event_number | as_crispy_field }}
                </div>
            </div>


    <input type="submit" name="saving_modified_accounting_record" value="Save">
    <input type="button" href="#myModal" class="trigger-btn" data-toggle="modal" value="Delete">
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title">{% trans 'Are you sure?' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>{% trans 'Do you really want to delete these records? This process cannot be undone.' %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    <button type="submit" name="delete_accounting_record" value="Delete" class="btn btn-danger">{% trans 'Delete' %}</button>
                </div>
            </div>
        </div>
    </div>
<!--    <input type="submit" name="delete_accounting_record"           value="Delete">-->
</form>
<!--<button type="submit" class="btn btn-­primary">Delete this accounting_record</button>-->
    </article>
</div>
{% endblock %}

