{% extends 'base.html' %}
{% block content %}

{{ form.media }}
{% load crispy_forms_tags %}
{% load i18n %}
<!--{% load l10n %}-->


<article>
    <h3>{% trans 'Journal' %}</h3>

    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>{% trans 'N°' %}</th>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'amount' %}</th>
            <th>{% trans 'posting key' %}</th>
            <th>{% trans 'debit' %}</th>
            <th>{% trans 'credit'%}</th>
            <th>{% trans 'date' %}</th>
            <th>{% trans 'posting text' %}</th>
            <th>{% trans 'member number' %}</th>
            <th>{% trans 'event number' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for instance in journal reversed %}
        {% if forloop.counter < 6 %} <!--show the last five entries-->
            <tr>
                <th>{{ forloop.counter }}</th>
                <th><a href="{% url 'accounting_record_edit' pk=instance.pk %}">{{instance.id}}</a></th>
                <th>{{ instance.amount }}</th>
                <th>{{ instance.posting_key }}</th>
                <th>{{ instance.debit_account }}</th>
                <th>{{ instance.credit_account }}</th>
                <th>{{ instance.date_field }}</th>
                <th>{% if instance.posting_text != None and instance.posting.text != '' %}
                    {{ instance.posting_text|linebreaksbr }}
                        {% else %}
                        {% trans 'No posting text.' %}
                    {% endif %}
                </th>
                <th>{{ instance.member_number }}</th>
                <th>{{ instance.event_number }}</th>
            </tr>

        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    </article>
</div>

<div class="container-fluid">
    <article>
    <h3>{% trans 'Booking' %}</h3>

    <form method="POST" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
                {{ form.amount | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.debit_account | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.credit_account | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.date_field | as_crispy_field }}
            </div>
        </div>
        {{ form.posting_text | as_crispy_field }}
        <div class="row">
            <div class="col-md-4">
                {{ form.member_number | as_crispy_field }}
            </div>

            <div class="col-md-4">
                {{ form.event_number | as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-success">{% trans 'Save accounting record' %}</button>

    </form>

    </article>
    {{ form.errors }}


{% endblock %}

