{% extends 'base.html' %}
{% block content %}

{{ form.media }}
{% load crispy_forms_tags %}
{% load i18n %}
    <article>
    <h3>{% trans 'Debit Position' %}</h3>
    <div style="width: 90vw; height: 45vh; overflow-y: scroll;">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>{% trans 'N°' %}</th>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'amount' %}</th>
            <th>{% trans 'debit' %}</th>
            <th>{% trans 'member' %}</th>
            <th>{% trans 'credit' %}</th>
            <th>{% trans 'voucher_1' %}</th>
            <th>{% trans 'date' %}</th>
            <th>{% trans 'posting_text' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for instance in import_journal %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <th><a href="{% url 'accounting_record_edit' pk=instance.pk %}">{{instance.id}}</a></th>
                <th>{{ instance.amount }}</th>
                <th>{{ instance.debit_account }}</th>
                <th>{{ instance.member_number }}</th>
                <th>{{ instance.credit_account }}</th>
                <th>{{ instance.voucher_1 }}</th>
                <th>{{ instance.date_field }}</th>
                <th>{% if instance.posting_text != None and instance.posting.text != '' %}
                    {{ instance.posting_text|linebreaksbr }}
                        {% else %}
                        No posting text.
                    {% endif %}
                </th>
            </tr>
        {% empty %} <li>{% trans 'Sorry, no account records in it.' %}</li>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </article>
</div>

<div class="container-fluid">
    <article>
    <h3>{% trans 'Booking' %}</h3>

    <form method="POST" novalidate>
        {% csrf_token %}
        <button type="submit" class="btn btn-success" name="final_debit_position">{% trans 'Import into Journal' %}</button>
        <button type="submit" class="btn btn-success" name="paying_debit_position">{% trans 'Import into Journal and create payment' %}</button>
        <button type="submi" class="btn btn-info"  name="cancel" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <input type="button" class="btn btn-danger" href="#myModal" class="trigger-btn" data-toggle="modal" value="Delete Debit Position">
        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="icon-box">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>
                        <h4 class="modal-title">{% trans 'Are you sure?' %}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>{% trans 'Do you really want to delete these records?' %}</p><p>{% trans 'This process cannot be undone!' %}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button type="submit" name="delete_debit_position" value="Delete" class="btn btn-danger">{% trans 'Delete' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </article>

{% endblock %}

