{% extends 'base.html' %}

{% block content %}


{% load crispy_forms_tags %}

{% load i18n %}
<article>
    <h3>{% trans 'Debit position check' %}</h3>
    <div style="width: 90vw; height: 45vh; overflow-y: scroll;">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>{% trans 'Number' %}</th>
                <th>{% trans 'Month' %}</th>
                <th>{% trans 'Year' %}</th>
                <th>{% trans 'Creation date' %}</th>
                <th>{% trans 'Part or Complete' %}</th>
                <th>{% trans 'Sum' %}</th>
                <th>{% trans 'pdf' %}</th>
                <th>{% trans 'csv' %}</th>
                <th>{% trans 'Creation date' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for instance in debit_position_data reversed %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <th>{{ instance.month }}</th>
                <th>{{ instance.year }}</th>
                <th>{{ instance.creation_date }}</th>
                <th>{{ instance.part_or_complete }}</th>
                <th>{{ instance.sum_of_debit_positions }}</th>
                <th><a href="{{ instance.debit_position_file_pdf.url }}">{{ instance.debit_position_file_pdf.name }}</a></th>
                <th><a href="{{ instance.debit_position_file_csv.url }}">{{ instance.debit_position_file_csv.name }}</a></th>
                <th>{{ instance.uploaded_at }}</th>
            </tr>
            {% empty %}<th><li>{% trans 'Sorry, no debit position yet.' %}</li></th>
            {% endfor %}
            </tbody>

        </table>
    </div>
</article>


<div class="container-fluid">
    <article>
        <h3>{% trans 'Debit Position' %}</h3>
        <form method="POST" novalidate>
            {% csrf_token %}
            <p>
                <span class="badge badge-pill badge-primary">{% trans 'meta' %}</span>
            </p>
            <div class="row">
                <div class="col-md-3">
                    {{ form.month | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{  form.year | as_crispy_field }}
                </div>
<!--                <div class="col-md-3">-->
<!--                    {{ form.part_or_complete | as_crispy_field }}-->
<!--                </div>-->
            </div>
            <button type="submit" class="btn btn-success" name="start_debit_position" value="Save">{% trans 'Start debit position' %}</button>
        </form>
    </article>



<article>
    <h3>{% trans 'Direct debit journal' %}</h3>
    <div style="width: 90vw; height: 45vh; overflow-y: scroll;">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>{% trans 'Number' %}</th>
                <th>{% trans 'Month' %}</th>
                <th>{% trans 'Year' %}</th>
                <th>{% trans 'Creation date' %}</th>
                <th>{% trans 'Origin' %}</th>
                <th>{% trans 'Sum' %}</th>
                <th>{% trans 'pdf' %}</th>
                <th>{% trans 'SEPA' %}</th>
                <th>{% trans 'Creation date' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for instance in direct_debit_journal reversed %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <th>{{ instance.month }}</th>
                <th>{{ instance.year }}</th>
                <th>{{ instance.creation_date }}</th>
                <th>{{ instance.origin }}</th>
                <th>{{ instance.sum_of_debit_positions }}</th>
                <th><a href="{{ instance.direct_debit_file_pdf.url }}">{{ instance.direct_debit_file_pdf.name }}</a></th>
                <th><a href="{{ instance.sepa_file.url }}">{{ instance.sepa_file.name }}</a></th>
                <th>{{ instance.uploaded_at }}</th>
            </tr>
            {% empty %}<th><li>{% trans 'Sorry, no debit position yet.' %}</li></th>
            {% endfor %}
            </tbody>

        </table>
    </div>
</article>


{% endblock %}