{% extends 'base.html' %}

{% block content %}

{{ form.media }}
{% load crispy_forms_tags %}
{% load i18n %}
<div class="container-fluid">
<article>
    <h3>{% trans 'Posting key edit' %}</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <p>
                <button type="button" class="btn btn-info" data-toggle="tooltip" title="fake button">{% trans 'meta' %}</button>
            </p>
            <div class="row">
                <div class="col-md-3">
                    {{ form.tax_key | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{  form.name | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.active_flag | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.individual_flag | as_crispy_field }}
                </div>
            </div>
            <p>
                <button type="button" class="btn btn-info" data-toggle="tooltip" title="fake button">{% trans 'special functions' %}</button>
            </p>
            <div class="row">
                <div class="col-md-3">
                    {{ form.valid_from | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.tax_rate | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.travel_expenses | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.vat_expenses | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.vat_account | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.input_vat_account | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.vat_account_unmatured | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.cash_discount_account | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.summary_account | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.vat_code_number_accrual_basis_tax_payer | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.vat_code_number_actual_basis_tax_payer | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.factor2_flag | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.factor2_percentage | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.factor2_account1 | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.factor2_account2 | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.factor2_account1 | as_crispy_field }}
                </div>
            </div>

    <input type="submit" name="saving_modified_posting_key" value="Save">
    <input type="button" href="#myModal" class="trigger-btn" data-toggle="modal" value="Delete">
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title">{% trans 'Are you sure?' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>{% trans 'Do you really want to delete this posting key? This process cannot be undone.' %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    <button type="submit" name="delete_posting_key" value="Delete" class="btn btn-danger">{% trans 'Delete' %}</button>
                </div>
            </div>
        </div>
    </div>
</form>
</article>
</div>


{% endblock %}

