{% extends 'base.html' %}
{% block content %}

{{ form.media }}
{% load crispy_forms_tags %}
{% load i18n %}
    <article>
    <h3>{% trans 'Import-Posting keys' %}</h3>
    <div style="width: 90vw; height: 45vh; overflow-y: scroll;">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>{% trans 'N°' %}</th>
            <th>{% trans 'Number' %}</th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Active' %}</th>
            <th>{% trans 'Individual' %}</th>
            <th>{% trans 'Valid from' %}</th>
            <th>{% trans 'Tax rate' %}</th>
            <th>{% trans 'VAT account' %}</th>
            <th>{% trans 'Input VAT account' %}</th>
            <th>{% trans 'VAT account unmatured' %}</th>
            <th>{% trans 'Cash discount account' %}</th>
            <th>{% trans 'Summary account' %}</th>
            <th>{% trans 'VAT Code N° accrual basis tax payer' %}</th>
            <th>{% trans 'VAT Code N° actual basis tax payer' %} </th>
            <th>{% trans 'factor 2' %}</th>
            <th>{% trans 'factor 2 %' %}</th>
            <th>{% trans 'factor 2 account 1' %}</th>
            <th>{% trans 'factor 2 account 2' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for instance in import_posting_key %}
            <tr>
                <th>{{ forloop.counter0 }}</th>
                <th><a href="{% url 'accounting_record_edit' pk=instance.pk %}">{{ instance.tax_key }}</a></th>
                <th>{{ instance.name }}</th>
                <th>{{ instance.active_flag }}</th>
                <th>{{ instance.individual_flag }}</th>
                <th>{{ instance.valid_from }}</th>
                <th>{{ instance.tax_rate |default_if_none:"" }}</th>
                <th>{{ instance.vat_account |default_if_none:"" }}</th>
                <th>{{ instance.input_vat_account |default_if_none:"" }}</th>
                <th>{{ instance.vat_account_unmatured |default_if_none:"" }}</th>
                <th>{{ instance.cash_discount_account |default_if_none:"" }}</th>
                <th>{{ instance.summary_account |default_if_none:"" }}</th>
                <th>{{ instance.vat_code_number_accrual_basis_tax_payer |default_if_none:"" }}</th>
                <th>{{ instance.vat_code_number_actual_basis_tax_payer |default_if_none:"" }}</th>
                {% if instance.factor2_flag %}
                    <th>{{ instance.factor2_flag }}</th>
                {% endif %}
                {% if not instance.factor2_flag %}
                    <th></th>
                {% endif %}
                <th>{{ instance.factor2_percentage |default_if_none:"" }}</th>
                <th>{{ instance.factor2_account1 |default_if_none:"" }}</th>
                <th>{{ instance.factor2_account2 |default_if_none:"" }}</th>
            </tr>
        {% empty %} <li>{% trans 'Sorry, no posting keys in it.' %}</li>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </article>
</div>

<div class="container-fluid">
    <article>
    <form method="POST" novalidate>
        {% csrf_token %}
<!--        <button type="submit" name="delete_import_journal" value="Delete" class="btn btn-danger">Delete Import-Journal</button>-->
        <button type="submit" class="btn btn-success" name="final_import_posting_key">{% trans 'Import into system' %}</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
        <input type="button" class="btn btn-danger" href="#myModal" class="trigger-btn" data-toggle="modal" value="Delete Import-Journal">
        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="icon-box">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>
                        <h4 class="modal-title">{% trans 'Are you sure?' %}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>{% trans 'Do you really want to delete these records?' %}</p><p>{% trans 'This process cannot be undone!' %}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button type="submit" name="delete_import_posting_key" value="Delete" class="btn btn-danger">{% trans 'Delete' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </article>

{% endblock %}

