{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load i18n %}
<h1>{% trans 'Importing posting key' %}</h1>
<p>{% trans 'Please note the assumptions for the files in the manual.' %}</p>
    {% if form.errors %}
        <p style="color: red;">
            {% trans 'Please correct the error'  %} {{ form.errors|pluralize }} {% trans 'below.' %}
        </p>
    {% endif %}

    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">{% trans 'Upload' %}</span>
                </div>
                <div class="custom-file">
                    {{ form }}
                    <label class="custom-file-label" for="inputGroupFile01">{% trans 'Choose file' %}</label>
                </div>
            </div>
        <input type="submit" class="btn btn-success" value="Submit">
    </form>
{% endblock %}