{% extends 'base.html' %}

{% block content %}


<article>
    <h3>Trial Balance Sheet</h3>
    <div style="width: 90vw; height: 45vh; overflow-y: scroll;">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>N°</th>
                <th>account</th>
                <th>oa|amount debit</th>
                <th>oa|amount credit</th>
                <th>amount debit</th>
                <th>amount credit</th>
            </tr>
            </thead>
            <tbody>
            {% for instance in opening_balance_list %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <th><a href="{% url 'account_sheet' account_number=instance.0 %}">{{ instance.0 }}</a></th>
                <th>{{ instance.1 }} €</th>
                <th>{{ instance.2 }} € </th>
                <th>{{ instance.3 }} €</th>
                <th>{{ instance.4 }} €</th>
            </tr>
            {% endfor %}
            </tbody>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </div>
</article>

{% endblock %}