{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<article>
    <h3>{% trans 'Account sheet' %}</h3>
    <div style="width: 90vw; height: 45vh; overflow-y: scroll;">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>{% trans 'N°' %}</th>
                <th>{% trans 'ID' %}</th>
                <th>{% trans 'date' %}</th>
                <th>{% trans 'posting key' %}</th>
                <th>{% trans 'contra account' %}</th>
                <th>{% trans 'amount debit' %}</th>
                <th>{% trans 'amount credit' %}</th>
                <th>{% trans 'posting text' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for instance in account_sheet reversed%}
            <tr>
                <th>{{ forloop.counter }}</th>
                <th>{{ instance.0 }}</th>
                <th>{{ instance.1 }}</th>
                <th>{{ instance.2 }} </th>
                <th>{{ instance.3 }}</th>
                <th>{{ instance.4 }} €</th>
                <th>{{ instance.5 }}</th>
                <th>{{ instance.6 }}</th>
<!--                <th>{{ instance.6 }}</th>-->
            </tr>
            {% endfor %}
            </tbody>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>{{ account_sum.0 }} €</th>
                <th>{{ account_sum.1 }} €</th>
                <th>{{ account_sum.2 }} €</th>
                <th></th>
            </tr>
        </table>
    </div>
</article>

{% endblock %}