{% extends 'base.html' %}

{% block content %}

<h1>Journal</h1>

{{ form.media }}
{% load crispy_forms_tags %}
{% load i18n %}
<article>
    <h3>{% trans 'Journal' %}</h3>
    <div style="width: 90vw; height: 45vh; overflow-y: scroll;">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>{% trans 'N°' %}</th>
                <th>{% trans 'ID' %}</th>
                <th>{% trans 'amount' %}</th>
                <th>{% trans 'debit' %}</th>
                <th>{% trans 'credit' %}</th>
                <th>{% trans 'date' %}</th>
                <th>{% trans 'posting_text' %}</th>
                <th><div data-toggle="tooltip" title="deleting or editing">{% trans 'd/e Flag' %}</div></th>
                <th>{% trans 'timestamp' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for instance in journal reversed %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <th>{{instance.id}}</th>
                <th>{{ instance.amount }}</th>
                <th>{{ instance.debit_account }}</th>
                <th>{{ instance.credit_account }}</th>
                <th>{{ instance.date_field }}</th>
                <th>{% if instance.posting_text != None and instance.posting.text != '' %}
                    {{ instance.posting_text|linebreaksbr }}
                    {% else %}
                    {% trans 'No posting text.' %}
                    {% endif %}
                </th>
                <th>{{ instance.edit_flag }}</th>
                <th>{{ instance.edit_date }}</th>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</article>


{% endblock %}
