{% extends 'base.html' %}

{% block content %}

<h1>Journal</h1>

{{ form.media }}
{% load crispy_forms_tags %}

    <article>
        <h3>Journal</h3>
        <div style="width: 90vw; height: 45vh; overflow-y: scroll;">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>N°</th>
                    <th>ID</th>
                    <th>amount</th>
                    <th>posting key</th>
                    <th>debit</th>
                    <th>credit</th>
                    <th>date</th>
                    <th>posting_text</th>
                    <th>member number</th>
                    <th>event number</th>
                </tr>
                </thead>
                <tbody>
                {% for instance in journal reversed %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <th><a href="{% url 'accounting_record_edit' pk=instance.pk %}">{{instance.id}}</a></th>
                    <th>{{ instance.amount }}</th>
                    <th>{{ instance.posting_key }}</th>
                    <th>{{ instance.debit_account }}</th>
                    <th>{{ instance.credit_account }}</th>
                    <th>{{ instance.date_field }}</th>
                    <th>{% if instance.posting_text != None and instance.posting.text != '' %}
                        {{ instance.posting_text|linebreaksbr }}
                        {% else %}
                        No posting text.
                        {% endif %}
                    </th>
                    <th>{{ instance.member_number }}</th>
                    <th>{{ instance.event_number }}</th>
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </article>


{% endblock %}