{% extends 'base.html' %}

{% block content %}


    {% csrf_token %}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" enctype="multipart/form-data"  method="POST">
        <table>
            {{ form.as_table }}
        </table>

        <input type="submit" value="Submit">
    </form>

{% endblock %}