{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}

{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}



<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}">
{% load static %}


<head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}gyousei{% endblock title %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

</head>

<body>
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
<style>
    .footer {
    position: fixed;
      left: 0;
      bottom: 0;
      text-align: right;
}

</style>
<p></p>
<div class="container-fluid">
<a href="{% url 'landing_page' %}"
   class="btn btn-dark" data-toggle="tooltip" title="LandingPage">行政</a>

    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" data-toggle="tooltip" title="Core Data and Utilities">
            CORE <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'company_data' %}">{% trans 'Core Data' %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contract_overview' %}">{% trans 'Contract Management' %}</a></li>
            <li class="nav-item"><a class="nav-link" href="#">{% trans 'Documents' %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'todo:lists' %}">{% trans 'Todo Lists' %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'todo:mine' %}">{% trans 'My Tasks' %}</a></li>
        </ul>
    </div>

<div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" data-toggle="tooltip" title="Customer-Relationship-Management">
        CRM <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a class="nav-link" href="{% url 'member_create' %}">{% trans 'New Member' %}</a></li>
        <li><a class="nav-link" href="{% url 'member_overview' %}">{% trans 'Overview Member' %}</a></li>
    </ul>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" data-toggle="tooltip" title="Enterprise-Resource-Planning">
        ERP<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a class="nav-link" href="{% url 'journal_booking' %}">{% trans 'Booking' %}</a></li>
        <li><a class="nav-link" href="#">{% trans 'Edit' %}</a></li>
        <li><a class="nav-link" href="{% url 'account_create' %}">{% trans 'Creating Account' %}</a></li>
        <li><a class="nav-link" href="{% url 'account_overview' %}">{% trans 'Account Overview' %}</a></li>
        <li><a class="nav-link" href="{% url 'posting_key_overview' %}">{% trans 'Posting key Overview' %}</a></li>
        <li><a class="nav-link" href="{% url 'trial_balance_sheet' %}">{% trans 'Trial Balance Sheet' %}</a></li>
        <li><a class="nav-link" href="{% url 'journal_overview' %}">{% trans 'Journal' %}</a></li>
        <li><a class="nav-link" href="{% url 'deleting_journal_overview' %}">{% trans 'Deleting Journal' %}</a></li>
        <li><a class="nav-link" href="{% url 'debit_position' %}">{% trans 'Debit Position' %}</a></li>
        <li><a class="nav-link" href="{% url 'debit_position_checking' %}">| {% trans 'Debit Position Checking' %}</a></li>
    </ul>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" data-toggle="tooltip" title="Event Management">
        EM <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a class="nav-link" href="#">#{% trans 'Create Event' %}</a></li>
        <li><a class="nav-link" href="#">#{% trans 'Manage Event' %}</a></li>
        <li><a class="nav-link" href="#">#{% trans 'Reporting' %}</a></li>
    </ul>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" data-toggle="tooltip" title="Import / Export">
        I/E <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li role="separator" class="divider"></li>
        <li><a class="nav-link" href="#">#{% trans 'Import Member' %}</a></li>
        <li><a class="nav-link" href="#">#{% trans 'Import checking member' %}</a></li>
        <li role="separator" class="divider"></li>
        <li><a class="nav-link" href="{% url 'import_data' %}">{% trans 'Import ac-records' %}</a></li>
        <li><a class="nav-link" href="{% url 'import_datev' %}">{% trans 'Import ac-rec-datev' %}</a></li>
        <li><a class="nav-link" href="{% url 'import_journal_checking' %}">| {% trans 'Check Import' %}</a></li>
        <li><a class="nav-link" href="{% url 'import_accounts' %}">{% trans 'Import accounts' %}</a></li>
        <li><a class="nav-link" href="{% url 'import_account_checking' %}">| {% trans 'Check Import' %}</a> </li>
        <li><a class="nav-link" href="{% url 'posting_key_import' %}">{% trans 'Import posting key' %}</a></li>
        <li><a class="nav-link" href="{% url 'posting_key_import_checking' %}">| {% trans 'Check Import' %}</a></li>
        <li role="separator" class="divider"></li>
        <li><a class="nav-link" href="#">#{% trans 'Import Events' %}</a></li>
        <li><a class="nav-link" href="#">#{% trans 'Export activity report' %}</a></li>
        <li><a class="nav-link" href="#">#{% trans 'Export CalDAV' %}</a></li>
    </ul>
</div>

    <a href="https://gyousei-documentation.readthedocs.io/de/latest/"
       class="btn btn-dark" data-toggle="tooltip" target="_blank" title="Docs">{% trans 'Docs' %}</a>

<div class="btn-group">
    <button type="button" class="btn btn-primary" aria-haspopup="true"
            aria-expanded="false" data-toggle="tooltip" title="Date">
        {% now "jS \o\f F Y" %} <span class="caret"></span>
    </button>
</div>



    <div class="btn-group">
        {% if user.is_authenticated %}
        <button type="button" class="btn btn-dark">
            User: {{ user.get_username }}

        </button>
        <button type="button" class="btn btn-dark">
            <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
            {% else %}
        </button>
        <button type="button" class="btn btn-dark">
            <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        </button>

        {% endif %}
    </div>




    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'bootstrap/js/node_modules/popper.js/dist/popper.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<p></p>
<div class="container-fluid">

    {% block content %}



    {% endblock %}
</div>
<p></p>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

<div id="footer" class="container-fluid w-100 bg-dark white-text" style="position: relative; bottom: 0;">
    <div class="btn-group">
        {% load i18n %}
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                    {{ lang.1 }} ({{ lang.0 }})
                </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" />
        </form>
    </div>
    <br>
    <small><a href="https://gitlab.com/bengoshi/gyousei" class="btn btn-light" data-toggle="tooltip" title="gyousei on gitlab">gyousei by bengoshi</a></small>
</div>

<script>
    function moveFooter() {
    var footerHeight = document.getElementbyId('footer').scrollHeight;
    var wH = window.outerHeight;
    var dH = document.scrollHeight + footerHeight*2;
    console.log(dH);
    console.log(wH);
    if (dH < wH) {
    $('#footer').css("position", "absolute");
    } else {
    $('#footer').css("position", "relative");
    }
    $('#footer').addClass("visible fadeIn");
    }
    $(document).ready(function() {
    console.log($("#footer"));
    // moveFooter();
    $(window).resize(function() {
    // moveFooter();
    });
    });
</script>


</body>
</html>
